# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
